h1
{
	padding: 0px;
	margin: 0px;
	font-family: "Arial Black";
	color: #ef986c;
	font-size: 40px;
}

.orange-text
{
	color: #ef986c;
}

#space-cutout
{
	position: absolute;
	z-index: 1;
}

#writing
{
	float: right;
	width: 770px;
	font-family: "aileron";
	margin: 0 auto;
}

#writing p
{
	margin-top: -3px;
	color: #343434;
	margin-left: 2px;
	font-size: 20px;
}