h1
{
	padding: 0px;
	margin: 0px;
	font-family: "Arial Black";
	color: #ef986c;
	font-size: 40px;
}

.orange-text
{
	color: #ef986c;
}

#astro-image
{
	width: 200px;
	margin-right: 10px;
	margin-top: -200px;
}

#astronaut
{
	position: absolute;
	z-index: 2;
	animation: float 6s ease-in-out infinite;
	margin-left: 30px;
}

#space-cutout
{
	position: absolute;
	z-index: 1;
}

#writing
{
	float: right;
	width: 770px;
	font-family: "aileron";
	margin: 0 auto;
}

#writing p
{
	margin-top: -3px;
	color: #343434;
	margin-left: 2px;
	font-size: 20px;
}

@keyframes float 
{
	0% 
	{
		transform: translatey(0px);
	}
	
	50% 
	{
		transform: translatey(-20px);
	}
	
	100% 
	{
		transform: translatey(0px);
	}
}